/* inicio reset */
body, p, h1, ul, li, blockquote{
  padding: 0;
  margin: 0;
}

img{
  display: block;
  width: 100%;
  border-radius: 5px;
}

body{
  font-family: "Vollkorn", Georgia, serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

/* fim reset */

/* inincio grid geral */
.estrutura{
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
    "header header header"
    "side-menu conteudo anuncios"
    "footer footer footer"
  ;
}

@media (max-width: 1200px){
  .estrutura{
    grid-template-areas: 
      "header" "header" "header"
      "side-menu" "conteudo" "conteudo"
      "side-menu" "anuncios" "anuncios"
      "footer" "footer" "footer" 
  ;
  }
}

@media (max-width: 760px){
  .estrutura{
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "side-menu"
      "conteudo"
      "anuncios"
      "footer"
    ;
  }
}

/* inincio estilo header */
.header{
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;/* alinhando no eixo vertical */
}

.header-logo{
  max-width: 200px;
}

.header-menu ul{
  display: flex;
  flex-wrap: wrap;
}

.header-menu ul li a{
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em; /*18px*/
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header-menu ul li a:hover{
  background: rgba(0,0,0,.5);
}

/* utilizando o seletor de + para definir que as alterações vao ser de cada li seguido de um li somente*/
.header-menu ul li + li{
  margin-left: 30px;
}

@media (max-width: 760px){
  .header{
    grid-template-columns: auto;
  }

  .header-logo{
    margin-bottom: 20px;
  }

  .header nav a{
    font-size: 1em;
  }

  .header li + li{
    margin-left: 10px;
  }
}
/* fim estilo header */

/* inincio estilo side menu */
.side-menu{
  grid-area: side-menu;
  background: #fafbfc;
  padding: 30px;
}

.side-menu li a{
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  transition: 0.1s ease-out;
}

.side-menu li a:hover{
  background: #b07dfb;
}

@keyframes seta {
  from{
    right: 30px;
  }
  to{
    right: 20px;
  }
}

@media (max-width: 760px){
  .side-menu{
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .side-menu::after{
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta .5s ease-in 0s infinite alternate;
  }


  .side-menu ul{
    display: flex;
  }

  .side-menu li{
    flex: 1 0 60px;
  }

  .side-menu{
    padding: 0 30px;
  }

  .side-menu li a{
    margin: 30px 30px 30px 0;
  }
}
/* fim estilo side menu */

/* inincio estilo conteudo */
.conteudo{
  grid-area: conteudo;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 600px){
  .conteudo{
    grid-template-columns: auto;
  }
}

.col-wide{
  grid-column: 1 / -1;
}

.imagem-1{
  grid-row: span 2;
  align-self: end;
}

.imagem-2{
  align-self: end;
}

.imagem-3{
  align-self: center;
}

/* fim estilo conteudo */

/* Inicio Informações */

.informacoes p + p{
  margin-top: 30px;
}

/* Fim Informações */

/* Inicio Titulo */

.titulo{
  color: #b07dfb;
}

.titulo h1{
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.titulo span{
  font-size: 0.75em;
  font-style: italic;
}

/* Fim titulo */

/* Inicio Caracteristicas */

.caracteristicas{
  display: flex;
  align-items: flex-start;
}

.caracteristicas > div{
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  position: relative;
}

.caracteristicas > div:first-child{
  margin-right: 30px;
}

.caracteristicas span{
  display: block;
  color: #b07dfb;
}

.numero{
  font-size: 3em;
  line-height: 1;
  margin: 10px auto;
}

.rotulo{
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.destaque{
  font-size: 0.875em;
  color: #b07dfb;
  max-width: 16em;
}

/* Fim Caracteristicas */

/* Inicio citação e atributos */

.citacao, .atributos{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #BD7DFB);
  color: white;
  align-self: start;
}

.citacao p{
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  color: white;
  max-width: 500px;
  margin: 0 auto;
}

.atributos li{
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}

.atributos li + li{
  border-top: 2px solid #BD7DFB;
}

/* fim citação */


/* inincio estilo anuncios */
.anuncios{
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  grid-gap: 30px; /* adiciona um gap entre os elementos*/
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
/* fim estilo anuncios */

/* inincio estilo footer */
.footer{
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p{
  color: white;
  text-align: center;
  padding: 30px;
}

.footer a{
  color: white;
  font-weight: bolds;
  transition: 0.1s;
}

.footer a:hover{
  text-decoration: underline;
}
/* fim estilo footer */






/* fim estilo header */